---
import Layout from '../layouts/Layout.astro';
// import VibeTunes from '../components/VibeTunes.astro'; // Uncomment when you want music
---

<Layout title="Robin Liu | Life">
    <div class="min-h-[50vh] flex flex-col justify-center items-center text-center">
		<h1 class="text-2xl font-bold text-slate-300 dark:text-slate-700">
			Coming Soon
		</h1>
        <p class="text-slate-400 mt-2">
            I'm currently busy exploring the world. Check back later.
        </p>
	</div>
</Layout>